.para{
    margin: 10px 0px 60px 0px;
}

#endbuffer{
    height:700px;
}

.sticky {
    position: fixed;
    top: 0px;
}

.hidden{
    display:none;
}

#timeline{
    width:100%;
}

/*#barchart {
  display: none;
}*/

.smallfont{
    font-size:10px;
}

.cases {
    fill: #d73027;
}

.deaths {
    fill: red;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barlabel,.barregion{
    font: 10px sans-serif;
}

.highlightedpara{
    border-left-color:#999999;
    border-left-style:solid;
    border-left-width:3px;
}

.region {
  stroke: grey;
  stroke-width: .5px;
}