@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700,300italic);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  color: rgb(100,100,100);
  background-color: rgb(230,230,230);
}

h1 {font-size:3.25em}  /* displayed at 24px */
h2 {font-size:2em}  /* displayed at 18px */
h3 {font-size:1.5em}  /* displayed at 15px */
h4 {font-size:1em}  /* displayed at 12px */

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.header {
  height: 65px;
  border-top: 10px solid rgb(50,160,160);
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: rgb(230,230,230);
  z-index: 2000;
}
.header h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: rgb(50,160,160);
  margin-top: 15px;
  text-align: center;
}
.head-spacer {
  height: 75px;
  width:100%;
}
.charts {
  margin-top: 75px;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  z-index: 2000;
  position: fixed;
  top:75px;
  left:0;
  right:0;
  bottom:0;
}
.viz-content {
  position: relative;
  max-width: 960px;
  margin: 0 auto 400px auto;
  z-index: 1000;
}
#timeline{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:50px;
}
.tl_circle {
  fill: rgb(100,100,100);
}
.tl_line {
  stroke: rgb(100,100,100);
}
#map {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  width:430px;
  height:580px;
  border: 10px solid white;
  background-color: lightgray;
}
.scrolling-center {
  margin-left: 50px;
  margin-right: 450px;
  overflow-y:auto;
}
.narrative-content {
  margin: 0 20px 40px 20px;
}
.narrative-content h3 {
  text-transform: uppercase;
  margin: 5px 0 8px;
}
.narrative-content p {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.narative-date {
  font-size: 1.25em;
  font-weight: 300;
  font-style: italic;
  color: rgb(150,150,150);
}
#endbuffer{
  height:700px;
}

.sticky {
  position: fixed;
  top: 0px;
}

.hidden{
  display:none;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
  color: darkgrey
}

svg text {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size:10px;
  color: rgb(100,100,100);
}

.smallfont{
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size:10px;
  color: rgb(100,100,100);
}

.barlabel,.barregion{
  /*font: 10px sans-serif;*/
}

.highlightedpara{
  border-left-color:#999999;
  border-left-style:solid;
  border-left-width:2px;
}

.region {
  stroke: grey;
  stroke-width: .5px;
}